src/main/mule/apexhours.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="53be018c-c25b-424b-8d6d-33aaad34fd4f" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="ba9547e9-381a-4203-a10a-11333049a2a3" file="test.properties" />
	<flow name="apexhoursFlow" doc:id="ea7b2899-6895-445e-810e-148b86573e0a" >
		<http:listener doc:name="Listener" doc:id="64a59a05-767b-4510-84fe-aef61a6f1d76" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="56d66c83-4231-4c53-9c73-ea09f4c7e07c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
    "name" : $.firstname ++ " " ++ $.lastname,
    
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3082ff25-a93a-437e-a0bc-a6e5a560459b" message='#["vars.name"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="6e0bcbe6-224a-4f34-8098-fc05cc3f1f97" />
	</flow>
</mule>
